<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Nombre" aria-label="Username" aria-describedby="basic-addon1">
</div>

<div class="input-group mb-3">

    <input type="text" class="form-control" placeholder="Cargo" aria-label="Server">
</div>

<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Departamento" aria-label="Server">
</div>
    
<div class="input-group mb-3">
    <span class="input-group-text">$</span>
    <input type="text" class="form-control" placeholder="Sueldo" aria-label="Sueldo">
</div>
  
<input class="btn btn-primary" type="submit" value="Submit">

